body {
    border: 1px solid darkblue;
}

.cabecera {

    background-color: #10b0e6;
    height: 20%;

    #logo {
        position: relative;
        width: 9vh;
        margin: -40px 10px 5px 10px;
    }
    a{
        color: snow;
    }
}

.resumen {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    height: auto;

    div {
        margin: auto;
        text-align: center;

        svg {
            width: 2rem;
            height: 2rem;
            color: blue;
            padding: 1rem 1rem 1rem 0;
        }
    }
}

.datos {
    width: 100%;
    background-color: snow;
    padding: 1rem 2rem;
}

.foot {
    width: 100%;
    height: 150px;
    background-color: lightpink;
    padding-left: 0;

    svg {
        width: 2rem;
        height: 2rem;
        color: blue;
        padding: 1rem 1rem 1rem 0;
    }

}

.iconheader {
    width: 25%;
}
#lineaActiva{
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    text-decoration: none;
    #lineaActiva:focus{
        box-shadow: 3px 3px red, -1em 0 0.4em olive;  
        border: none;
        text-decoration: none; 
    }
}
#menuprincipal{
    background-color: #10b0e6;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: -30px -10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{

        list-style: none;
    }
}
#btnLlamadas:hover{
    cursor: pointer;
    background-color: snow;
}

#btnDatos:hover{
    cursor: pointer;
    background-color: snow;
}

#btnSMS:hover{
    cursor: pointer;
    background-color: snow;
}
#btnFacturas:hover{
    cursor: pointer;
    background-color: snow;
}
#sectionsms{
    background-color: lightcoral;
    margin: 0 auto;
    padding: 0 10px;
}
#sectionllamadas{
    background-color: lightgreen;
    margin: 0 auto;
    padding: 0 10px;
}
#sectiondatos{
    background-color: lightyellow;
    margin: 0 auto;
    padding: 0 10px;
}
#sectionfacturas{
    background-color: lightcyan;
    margin: 0 auto;
    padding: 0 10px;
    text-size: 16px;
    .svg-inline--fa{
        color: green;
    }
}
table{ 
    thead{
        text-align: center;
        text-transform: uppercase;
    }
    tbody tr td{
        padding: 0 10px;
        font-size: 10px;
    }
}
.graficas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    .grafica1{

    }
    .grafica2{

    }
}