@font-face {
    font-family: 'HelveticaNeueRoman'; 
    src: url("../fonts/HelveticaNeue-Roman.otf");
    font-style: normal;
}
body {
    font-family: 'HelveticaNeueRoman';
    border: 1px solid darkblue;
}

.cabecera {
    background-color: #10b0e6;
    height: 20%;
    padding-top: 45px;

    #logo {
        position: relative;
        width: 80px;
        margin: -40px 10px 5px 10px;
    }
    a{
        color: snow;
    }
}

.resumen {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #10b0e6;
    height: auto;

    div {
        margin: auto;
        text-align: center;

        svg {
            width: 2rem;
            height: 2rem;
            color: snow;
            padding: 1rem 1rem 1rem 0;
        }
    }
}

.datos {
    width: 100%;
    background-color: snow;
    padding: 1rem 2rem;
}

.foot {
    width: 100%;
    height: 150px;
    background-color: lightpink;
    padding-left: 0;

    svg {
        width: 1rem;
        height: 1rem;
        color: blue;
        padding: 1rem 1rem 1rem 0;
    }

}

.iconheader {
    width: 20%;
}
#lineaActiva{
    border-radius: 5px;
    font-size: 1.8rem;
    background-color: transparent;
    border: 0.5px solid snow;
    color: snow;
    margin-top: -15px;

}
#menuprincipal{
    background-color: #10b0e6;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: -30px -10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{

        list-style: none;
    }
}
#btnHome,#btnLlamadas,#btnDatos,#btnSms,#btnFacturas{
    border-radius: 7px 7px 0 0;
}
// #btnHome:hover{
//     cursor: pointer;
//     // background-color: snow;
//     // svg{
//     //     color: #10b0e6;
//     // }
// }
#btnLlamadas:hover{
    cursor: pointer;
    // background-color: snow;
    // svg{
    //     color: #10b0e6;
    // }
}

#btnDatos:hover{
    cursor: pointer;
    // background-color: snow;
    // svg{
    //     color: #10b0e6;
    // }
}

#btnSms:hover{
    cursor: pointer;
    // background-color: snow;
    // svg{
    //     color: #10b0e6;
    // }
}
#btnFacturas:hover{
    cursor: pointer;
    // background-color: snow;
    // svg{
    //     color: #10b0e6;
    // }
}

// #sectionhome{
//     background-color: lightcyan;
//     margin: 0 auto;
//     padding: 0 10px;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     height: 500px;
// }
#sectionsms{
    background-color: lightcyan;
    margin: 0 auto;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
#sectionllamadas{
    background-color: lightcyan;
    margin: 0 auto;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
#sectiondatos{
    background-color: lightcyan;
    margin: 0 auto;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
#sectionfacturas{
    background-color: lightcyan;
    margin: 0 auto;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    text-size: 16px;
    .svg-inline--fa{
        color: #10B0E6;
        cursor:pointer;
    }
    .svg-inline--fa:hover{
        color: cyan;
    }
}
table{ 
    thead{
        text-align: center;
        text-transform: uppercase;
    }
    tbody tr td{
        padding: 0 10px;
        font-size: 10px;
    }
}
.graficas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 -50px;
    width: 100%;

    #chart1, #chart2 {
        margin: 0;
        padding: 0;
        width: 40%;
        flex-direction: column;
        justify-content: space-around;    
    }     
}